<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
        <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>

    </div>
    <div th:fragment="header-js">
        <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </div>


</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">Meetup</a>
            </div>
        </div>
    </nav>
</div>
</body>

</html>