<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">


<head>
    <title>Meetup Agenda</title>
    <div th:replace="fragments/header :: header-css"></div>
</head>

<body>
<div th:replace="fragments/header :: header"></div>


<div class="jumbotron">
    <div class="container">
        <h1>Meetup Agenda</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin commodo nunc quis posuere convallis. Praesent
            ac porta dui, sed cursus ipsum. Cras est sem, vestibulum.</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Usuário</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus.</p>
            <p><a class="btn btn-default" th:href="@{/usuario/registrar}" role="button">Registrar Novo</a></p>
            <p><a class="btn btn-default" th:href="@{/usuario/visualizar}" role="button">Visualizar</a></p>
        </div>
        <div class="col-md-4">
            <h2>Salas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus.</p>
            <p><a class="btn btn-default" th:href="@{/sala/registrar}" role="button">Registrar Nova</a></p>
            <p><a class="btn btn-default" th:href="@{/sala/visualizar}" role="button">Visualizar</a></p>
        </div>
        <div class="col-md-4">
            <h2>Reuniões</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dapibus.</p>
            <p><a class="btn btn-default" th:href="@{/reuniao/registrar}" role="button">Registrar Nova</a></p>
            <p><a class="btn btn-default" th:href="@{/reuniao/visualizar}" role="button">Visualizar</a></p>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer"></div>
</body>

</html>