<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Registrar Sala</title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-md-5 center-block">
        <h1>Criar nova sala</h1>
        <div id="alert-div" class="alert alert-info" role="alert">
            <p id="alert-message" th:text="${message}"></p>
        </div>

        <form id="registrarForm">
            <div class="form-group">
                <label class="control-label" for="name">Nome</label>
                <input th:field="${room.name}" class="form-control" id="name" name="name" type="text"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="floor">Andar</label>
                <input th:field="${room.floor}" class="form-control" id="floor" name="floor" type="text"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="maxParticipants">Máximo de Participantes</label>
                <input th:field="${room.maxParticipants}" class="form-control" id="maxParticipants"
                       name="maxParticipants" type="number"/>
            </div>

            <div class="form-group">
                <button id="submitButton" class="btn btn-primary">Criar Sala</button>
            </div>
        </form>

        <div th:replace="fragments/footer :: footer"></div>

        <script>
            /*<![CDATA[*/
            $(document).ready(function () {
                if ($.trim($('#alert-message').text()) === "") {
                    $('#alert-div').toggle();
                }
            });

            $(document).ready(function () {
                $("#submitButton").click(function (e) {
                    e.preventDefault();

                    $.post("/sala/registrar",
                        {
                            name: $("#name").val(),
                            floor: $("#floor").val(),
                            maxParticipants: $("#maxParticipants").val(),

                        },

                        function (data) {
                            var hasError = data.length > 0;
                            if (!hasError) {
                                changeDivToSuccessAndShow();
                            } else {
                                var json = JSON.parse(data);

                                var errorList = json;

                                var errorMessage = "";
                                $.each(errorList, function (i, obj) {
                                    errorMessage += obj.key + ": " + obj.value + "<br>";
                                });

                                changeDivToErrorAndShow(errorMessage);
                            }
                        });
                });
            });

            function changeDivToSuccessAndShow() {
                var alertDiv = $('#alert-div');
                alertDiv.toggle(true);
                alertDiv.addClass("alert-success").removeClass("alert-info").removeClass("alert-danger");

                $('#alert-message').text("Sala criada com sucesso!");
            }

            function changeDivToErrorAndShow(error) {
                var alertDiv = $('#alert-div');
                alertDiv.toggle(true);
                alertDiv.addClass("alert-danger").removeClass("alert-info").removeClass("alert-success");

                $('#alert-message').html(error);
            }


            /*]]>*/
        </script>

    </div>
</div>

</body>


</html>