<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Registrar Usuário</title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="col-md-5 center-block">
        <h1>Criar novo usuário</h1>
        <div id="alert-div" class="alert alert-info" role="alert">
            <p id="alert-message" th:text="${message}"></p>
        </div>


        <form id="registrarForm">
            <div class="form-group">
                <label class="control-label" for="name">Nome</label>
                <input th:field="${user.name}" class="form-control" id="name" name="name" type="text"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="rg">RG</label>
                <input th:field="${user.rg}" class="form-control" id="rg" name="rg" type="text"/>
            </div>

            <div class="form-group">
                <label class="control-label" for="cpf">CPF</label>
                <input th:field="${user.cpf}" class="form-control" id="cpf" type="text"/>
            </div>

            <div class="form-group">
                <label class="control-label">Gênero</label>
                <div class="row">
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input name="gender" type="radio" value="MALE" th:checked="${user.isGenderEqual('male')}"/>Masculino
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input name="gender" type="radio" value="FEMALE"
                                   th:checked="${user.isGenderEqual('female')}"/>Feminino
                        </label>
                    </div>
                    <div class="col-md-4">
                        <label class="radio-inline">
                            <input name="gender" type="radio" value="UNDEFINED"
                                   th:checked="${user.isGenderEqual('undefined')}"/>Não Definido
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button id="submitButton" class="btn btn-primary">Criar Usuário</button>
            </div>
        </form>

        <div th:replace="fragments/footer :: footer"></div>

        <script>
            /*<![CDATA[*/
            $(document).ready(function () {
                if ($.trim($('#alert-message').text()) === "") {
                    $('#alert-div').toggle();
                }
            });

            $(document).ready(function () {
                $("#submitButton").click(function (e) {
                    e.preventDefault();

                    $.post("/usuario/registrar",
                        {
                            name: $("#name").val(),
                            cpf: $("#cpf").val(),
                            rg: $("#rg").val(),
                            gender: $('input[name=gender]:checked', '#registrarForm').val()

                        },

                        function (data) {
                            var json_object = JSON.parse(data);
                            var isError = json_object.error;
                            var errorList = json_object.message;

                            if (isError) {
                                var errorMessage = "";
                                $.each(errorList, function (i, obj) {
                                    errorMessage += obj.field + ": " + obj.message + "<br>";
                                });

                                changeDivToErrorAndShow(errorMessage);
                            } else {
                                changeDivToSuccessAndShow();
                            }

//                            alert("Data: " + data + "\nStatus: " + status);
                        });
                });
            });

            function changeDivToSuccessAndShow() {
                var alertDiv = $('#alert-div');
                alertDiv.toggle(true);
                alertDiv.addClass("alert-success").removeClass("alert-info");

                $('#alert-message').text("Usuário inserido com sucesso!");
            }

            function changeDivToErrorAndShow(error) {
                var alertDiv = $('#alert-div');
                alertDiv.toggle(true);
                alertDiv.addClass("alert-danger").removeClass("alert-info");

                $('#alert-message').html(error);
            }

            /*]]>*/
        </script>

    </div>
</div>

<!--<h1>Criar novo usuário</h1>-->

<!--&lt;!&ndash;/*@thymesVar id="message" type="java.lang.String"*/&ndash;&gt;-->
<!--<h2 th:text="${message}"></h2>-->


<!--&lt;!&ndash;/*@thymesVar id="user" type="me.kerooker.model.types.User"*/&ndash;&gt;-->
<!--<form action="#" th:action="@{/usuario/registrar}" th:object="${user}" method="post">-->
<!--<p>Nome: <input type="text" name="name" th:field="${user.name}" /> </p>-->
<!--<p>RG: <input type="text" name="rg" th:field="${user.rg}" /></p>-->
<!--<p>CPF: <input type="text" name="cpf" th:field="${user.cpf}" /></p>-->
<!--<p>Gênero:-->
<!--<input type="radio" name="gender" value="MALE" th:checked="${user.isGenderEqual('male')}" />Masculino-->
<!--<input type="radio" name="gender" value="FEMALE" th:checked="${user.isGenderEqual('female')}" />Feminino-->
<!--<input type="radio" name="gender" value="UNDEFINED" th:checked="${user.isGenderEqual('undefined')}" />Não Definido-->
<!--</p>-->
<!--<p><input type="submit" value="Criar"/></p>-->

<!--</form>-->


</body>


</html>